@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //view data so that the "title" can be dynamic to the page
    ViewData["Title"] = "Madison's Page";
}

<!DOCTYPE html>
<head>
   

</head>

    <h2>Welcome to my page!</h2>
    <h1>I'm Madison Griffith</h1>
    <br />
    <img src="images/moab.jpg" /><img src="images/costarica.jpg" /><img src="images/utahh.JPG" />
    <h2>and I love to travel! Especially with my husband :)</h2>
    <br />
    <br />
    <br />
    <h3>
        I hope to be able to keep up in the class and actually understand what we are doing. Last semester in IS 403,
        I got behind and most of the time I didn't understand what was going on in the class. I want to be better about my study habits and practice continually so that I have somewhat of a clue on what we are currently learning in class.
    </h3>
    <br />
    <br />

    <h3>These are the top 3 jobs I am most interested in pursuing when I graduate:</h3>
    <ul>
        <li>1. Stay-at-Home Mom</li>
        <li>2. Database Engineer</li>
        <li>3. Data Analyst</li>
    </ul>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

   

